.ProductsBody {
	width: 100%;
	background-color: var(--bg-color);
}

.ProductsBody[bg="false"] {
	filter: invert();
	margin-top: 50px;
	background-color: transparent !important;
}

.products {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
