.ProductPage {
	font-size: 16px;
	height: 100%;
}

.ProductDetails {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	align-items: center;
}

.ProductDetails__left {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ProductDetails__info {
	display: flex;
	flex-direction: column;
	color: var(--text-color);
}

.ProductDetails__title {
	font-size: 1.8em;
	color: var(--text-color);
}

.ProductDetails__subtitle {
	font-size: 1em;
	color: var(--gray-color);
	font-weight: normal;
	padding: 7px 0 15px 0;
	font-size: 0.9em;
	border-bottom: 1px solid;
}

.ProductDetails__price {
	font-size: 1.9em;
	font-weight: 850;
	margin: 40px 0;
}

.AddToCardBtn {
	width: 90%;
	padding: 0.85em 2em;
	border: none;
	font-size: 1em;
	border-radius: 15px;
	color: #fff;
	background-color: var(--blue-color);
	box-shadow: 0 0 20px rgb(0, 119, 255);
	transition: all 0.3s ease-in-out;
}

.AddToCardBtn:hover {
	background-color: rgb(13, 101, 202);
	box-shadow: 0 0 30px rgb(0, 119, 255);
}

.Accordion {
	padding: 1em 2em;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) !important;
	border-radius: 20px !important;
}

.AccordionDetails {
	padding: 2em 0;
}

.AccordionDetailsLeft {
	width: 70%;
}

.AccordionDetailsRight {
	width: 30%;
}

.AccordionDetailsList {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.AccordionListItem {
	display: inherit;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e6e6e6cc;
	padding: 0 1em;
}

.AccordionListItem:last-of-type {
	border-bottom: none;
}

.AccordionItem {
}

.AccordionConfigItem {
	font-size: 1.35em;
	margin: 1.7em 0;
}
