.ProductPage {
	font-size: 16px;
	height: 100%;
}

.ProductDetails {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	align-items: center;
}

.ProductDetails__left {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ProductDetails__right {
	max-width: 40%;
}

.ProductDetails__info {
	display: flex;
	flex-direction: column;
	color: var(--text-color);
}

.ProductDetails__title {
	max-width: max-content;
	font-size: 1.8em;
	color: var(--text-color);
}

.ProductDetails__subtitle {
	font-size: 1em;
	color: var(--gray-color);
	font-weight: normal;
	padding: 7px 0 15px 0;
	font-size: 0.9em;
	border-bottom: 1px solid;
}

.ProductDetails__price {
	font-size: 1.9em;
	font-weight: 850;
	margin: 40px 0;
}

.AddToCardBtn {
	width: 90%;
	padding: 0.85em 2em;
	border: none;
	font-size: 1em;
	border-radius: 15px;
	color: #fff;
	background-color: var(--blue-color);
	box-shadow: 0 0 20px rgb(0, 119, 255);
	transition: all 0.3s ease-in-out;
}

.AddToCardBtn:hover {
	background-color: rgb(13, 101, 202);
	box-shadow: 0 0 30px rgb(0, 119, 255);
}

.Accordion {
	padding: 1em 2em;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) !important;
	border-radius: 20px !important;
}

.AccordionDetails {
	padding: 2em 0;
}

.AccordionDetailsLeft {
	width: 70%;
}

.AccordionDetailsRight {
	width: 30%;
}

.AccordionDetailsList {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.AccordionListItem {
	display: inherit;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e6e6e6cc;
	padding: 0 4em;
	font-weight: 700;
}

.AccordionListItem:last-of-type {
	border-bottom: none;
}

.AccordionItem {
	font-size: 1.2em;
}

.AccordionConfigItem {
	font-size: 1.35em;
	margin: 1.7em 0;
}

@media only screen and (max-width: 992px) {
	.ProductDetails {
		justify-content: center;
	}

	.ProductDetails__left {
		margin: 0;
	}

	.ProductDetails__left img {
		max-width: 250px;
	}

	.ProductDetails__right {
		width: 80%;
		margin-bottom: 100px;
	}

	.productConfig {
		padding: 0 5em;
	}

	.AccordionTitle {
		width: 60%;
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 768px) {
	.AccordionListItem {
		flex-direction: column;
	}

	.AccordionListItem {
		padding: 1.1em 0;
	}

	.AccordionConfigItem {
		font-size: 1.5em;
		font-weight: 800;
		margin: 1em 0;
	}
}

@media only screen and (max-width: 425px) {
	.AccordionTitle {
		font-size: 0.9em !important;
	}

	.AccordionListItem {
		font-size: 0.7em;
	}
}
