.navbar {
	font: 16px;
	padding: 9px 0;
	background-color: var(--primary-color);
}

.logo {
	font-size: 1.1em;
	transition: color 0.2s ease !important;
}

.logoLink .logo:hover {
	color: #fff !important;
}

.nav {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}

.navItem {
	font-size: 0.73em;
	color: var(--gray-color);
	transition: color 0.2s ease !important;
}

.navItem:hover {
	text-decoration: none;
	color: #fff;
}

.bagButton {
	font-size: 1.2em;
	border: none;
	color: var(--gray-color);
	background: transparent;
	transition: color 0.2s ease !important;
}

.bagButton:hover {
	color: #fff;
}

.ScrollButton {
	position: fixed !important;
	bottom: 40px;
	left: 40px;
	opacity: 0;
	pointer-events: none;
	user-select: none;
	transition: all 0.3s ease-in-out !important;
	background-color: var(--blue-color) !important;
	box-shadow: 0 0 20px #007bffdc !important;
}

.ScrollButton ion-icon {
	font-size: 25px !important;
}

.ContextMenuLink {
	text-decoration: none;
	color: inherit;
}

.ContextMenuLink:hover {
	text-decoration: none;
}

@media only screen and (max-width: 768px) {
	.nav {
		display: block;
	}

	.logo {
		font-size: 1.4em;
	}

	.bagButton {
		position: absolute;
		right: 20px;
	}

	.navItem {
		display: none;
	}
}
