/* Import All English and Persian Fonts */
@import url("./assets/fonts/font-face.css");

:root {
	/* Colors */
	--primary-color: #313132;
	--link-color: #2c80d4;
	--text-color: #1d1d1f;
	--bg-color: #141414;
	--sub-text-color: #6e6e73;
	--blue-color: #007aff;
	--red-color: #ff0053;
	--green-color: #69cc46;
	--purple-color: #c069ff;
	--gray-color: #c5c5c9;

	/* Fonts */
	--main-font: "SF Pro Text", "SF Pro Display", IranYekan, KalamehWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
	--iranyekan-font: IranYekan, KalamehWeb, sans-serif;
	--kalameh-font: KalamehWeb, IranYekan, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

body {
	font-family: var(--main-font);
	background-color: #f5f5f7;
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
}

a {
	color: var(--link-color);
	text-decoration: none;
	font-family: var(--main-font);
}

a:hover {
	text-decoration: underline;
}

.container {
	max-width: 980px;
	margin: 0 auto;
}

.container-lg {
	max-width: 1200px;
	margin: 0 auto;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
	font-family: var(--main-font);
}

/* Default MUI Styles */
.MuiTypography-root {
	font-family: var(--main-font) !important;
}
